.btn {
  display: inline-block;
  vertical-align: middle;
  padding: 6px 20px;
  width: 100%;
  border: none;
  border-radius: $border-radius;
  font-size: $font-size;
  font-weight: 400;
  color: #fff;
  background-color: #333333;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s;

  &:hover,
  &:focus {
    background: #cc6699;
    color: #fff;
  }
}
